*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container 
{
    width: 100vw;
    margin: 10px auto;
    columns: 4;
    column-gap: 10px;
}

.container .box {
    width: 90%;
    margin-bottom: 10px;
}

.container .box img {
    max-width: 100%;
    border-radius: 15px;
}

@media(max-width: 1200){
    .container {
        columns: 3;
    }
}

@media(max-width: 768px){
    .container {
        columns: 2;
    }
}